[submodule "services/opensecret/nitro-toolkit"]
	path = services/opensecret/nitro-toolkit
	url = https://github.com/OpenSecretCloud/nitro-toolkit.git
[submodule "services/opensecret/privatemode-public"]
	path = services/opensecret/privatemode-public
	url = https://github.com/edgelesssys/privatemode-public.git
