@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mondwest";
  src:
    url("/fonts/Mondwest-Regular.woff2") format("woff2"),
    url("/fonts/Mondwest-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply h-dvh;
    @apply bg-[#111111];
    @apply text-[#E2E2E2];
  }

  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 89%;
    --card: 0 0% 7%;
    --card-foreground: 0 0% 89%;
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 89%;
    --primary: 264 89% 69%;
    --primary-foreground: 0 0% 7%;
    --secondary: 191 98% 62%;
    --secondary-foreground: 0 0% 7%;
    --accent: 131 98% 78%;
    --accent-foreground: 0 0% 7%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 70%;
    /* THIS WAS EDITED BY PAUL */
    --destructive: 0, 80%, 37%;
    /* THIS WAS EDITED BY PAUL */
    --destructive-foreground: 0, 80%, 37%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 264 89% 69%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --hljs-comment: 225 27% 13%;
    --hljs-deletion: 349 86% 42%;
    --hljs-number: 22 100% 39%;
    --hljs-attribute: 35 86% 35%;
    --hljs-keyword: 199 95% 34%;
    --hljs-selector-tag: 158 64% 35%;
    --hljs-string: 93 75% 37%;
    --hljs-addition: 211 93% 45%;
    --hljs-attribute: 270 75% 48%;
    --hljs-punctuation: 225 27% 40%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0% 7%;
      --foreground: 0 0% 89%;
      --card: 0 0% 10%;
      --card-foreground: 0 0% 89%;
      --popover: 0 0% 7%;
      --popover-foreground: 0 0% 89%;
      --primary: 264 89% 69%;
      --primary-foreground: 0 0% 7%;
      --secondary: 191 98% 62%;
      --secondary-foreground: 0 0% 7%;
      --accent: 131 98% 78%;
      --accent-foreground: 0 0% 7%;
      --muted: 0 0% 15%;
      --muted-foreground: 0 0% 70%;
      /* THIS WAS EDITED BY PAUL */
      --destructive: 0, 80%, 37%;
      /* THIS WAS EDITED BY PAUL */
      --destructive-foreground: 0, 80%, 37%;
      --border: 0 0% 20%;
      --input: 0 0% 20%;
      --ring: 264 89% 69%;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
      --hljs-comment: 225 27% 43%;
      --hljs-deletion: 349 86% 72%;
      --hljs-number: 22 100% 69%;
      --hljs-attribute: 35 86% 65%;
      --hljs-keyword: 199 95% 74%;
      --hljs-selector-tag: 158 64% 65%;
      --hljs-string: 93 75% 67%;
      --hljs-addition: 211 93% 75%;
      --hljs-attribute: 270 75% 78%;
      --hljs-punctuation: 225 27% 70%;
    }
  }
}
